<div class="row">
  <div class="col s12 m6 l3">
    <div class="card large blue-grey">
      <div class="card-content white-text">
        <span class="card-title activator">I will be an article headline</span>
        <p class="activator">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <br>
        <span class="tags">tags go here</span>
      </div>
      <div class="card-reveal">
        <span class="card-title">This will be the article headline<i class="material-icons right">close</i></span>
        <p>information</p>
      </div>
    </div>
<a class="waves-effect waves-light btn"><i class="material-icons left"></i>read</a>
<a class="waves-effect waves-light btn"><i class="material-icons right"></i>Add</a>
</div>
