<div class="row">
  <div class="col s12 m6 l3">
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title activator">I will be an article headline</span>
        <p class= "activator">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>

    </div>

  </div>
  <div class="card-reveal">
    <span class="card-title text-darken-4 ">I will be an article headline</span>
    <p> reveal infoLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>

</div>
