<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav class="blue darken-4">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo right">PROFILE NAME</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/users/add-user">Add Profile</a></li>
          <li><a href="/users/{{user.id}}">Edit Profile</a></li>
          <li><a href="#">View Brief</a></li>
          <li><a href="#">Print Brief</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Add Profile</a></li>
          <li><a href="#">Edit Profile</a></li>
          <li><a href="#">View Brief</a></li>
          <li><a href="#">Print Brief</a></li>
        </ul>
      </div>
    </nav>
    {{{body}}}
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
