<div class="row ">
  <form class="col s12">
    <div class="input-field col s6">
      <input placeholder="Profile Name" id="profile_name" type="text" class="validate">
      <label for="profile_name">Profile Name</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Region" id="region" type="text" class="validate">
      <label for="region">Region</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Keywords" id="keywords" type="text" class="validate">
      <label for="keywords">Keywords</label>
    </div>
  </form>
</div>
