<div class="row">
  <div class="col s10 offset-s1 l8 offset-l2">
    <h3>Create a new Profile</h3>
  </div>
  <div class="col s12 l8 offset-l2">
    <div class="card blue-grey lighten-5">
      <div class="card-content white-text">
        <div class="row ">
          <form class="col s12">
            <div class="input-field col s6">
              <input id="profile_name" type="text" class="validate">
              <label for="profile_name">Profile Name</label>
            </div>
            <div class="file-field input-field col s6">
              <div class="btn blue darken-4">
                <span>Image</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="input-field col s6">
              <input id="region" type="text" class="validate">
              <label for="region">Region</label>
            </div>
            <div class="input-field col s12">
              <input id="keywords" type="text" class="validate">
              <label for="keywords">Keywords</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
