<div class="row">
  <div class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
    <div class="card large blue-grey">
      <div class="card-content white-text">
        <span class="card-title">{{ article.title }}</span>
        <p class="activator">{{ article.description }}</p>
        <br>
        <span class="tags">{{ article.keywords }}</span>
      </div>
    </div>
<a class="waves-effect waves-light btn"><i class="material-icons left"></i>BACK</a>
<a class="waves-effect waves-light btn"><i class="material-icons right"></i>Add</a>
</div>
