<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="row">
        {{#each users.keywords}}
        <div class="col s2 m3">
          <div id={{this}} class="card-panel orange center">
            <span class="white-text">{{this}}</span>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Search Keywords</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col s3 offset-s4 center">
      <button id="article-search-submit" class="btn waves-effect waves-light blue" type="submit">Search</button>
    </div>
  </div>
</div>
