/* label focus color */
.input-field input[type=text]:focus + label {
    color: #1874c9;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1874c9;
    box-shadow: 0 1px 0 0 #1874c9;
    color: black;
}

.input-field input[type=text] {
  border-bottom: 1px solid #1874c9;
  box-shadow: 0 1px 0 0 #1874c9;
  color: black;
}
